.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/livehouse/upset.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
